$color-border: #E7EEF2;
$shadow: darkgray;
$primary: #1A73CD;
$font-light: #8A98A2;
.social-card {
  min-width: 400px;
  min-height: 50px;
  width: 50vw;
  margin: 50px auto;
  border: {
    top: 1px solid $color-border;
    bottom: 1px solid $color-border;
  }
  
  &:hover {
    box-shadow: 
      .3em .3em 1em $color-border;
  }
  // 头部
  &-header {
    margin: 10px 0;
    display: grid;
    grid-template-columns: 8vw 40vw;
    align-items: center;
    justify-items: center;
    .logo {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 50%;
    }
    .right {
      width: 100%;
      text-align: left;
      font-size: 16px;
      .title,
      .author {
        font-weight: bold;
      }
      .author {
        color: $primary;
      }
      .date {
        color: $font-light;
      }
    }
  }

  &-body,
  &-footer {
    width: 40vw;
    margin-left: 8vw;
  }

  // body
  &-body {
    border: 1px solid $color-border;
    border-radius: 5px;
    .card {
      &-title-box {
        height: 260px;
        background-color: #FFA003;
        color: white;
        display: flex;
        align-items: center;
        font-size: 26px;
        font-weight: bold;
        border-top: {
          left-radius: 5px;
          right-radius: 5px;
        }
        .title-text {
          text-align: left;
          padding: 40px;
        }
      }
      &-content {
        padding: 10px 16px 20px 16px;
        text-align: left;
        font-size: 14px;
        .title {
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }

  &-footer {
    height: 40px;
    margin-top: 10px;
    text-align: left;
    .statics {
      display: inline-block;
      color: $font-light;
      width: 15%;
      .iconfont {
        font-size: 20px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
