@import './App.scss';
$bg-gray: #f7f7f7;

.weather-card {
  text-align: left;
  width: 510px;
  padding: 16px;
  margin: 50px auto;
  min-height: 100px;
  border: 1px solid $color-border;
  box-shadow: 
    .3em .3em 1em $color-border;

  .daily-table {
    text-align: center;
    display: inline-block;
    height: 137px;
    width: 98px;
    margin: 0 2px;
    background: $bg-gray;
    border-top: 3px solid $bg-gray;
    font-size: 14px;
    &.active {
      border-top: 3px solid lightcoral;
      background: white;
    }

    .vpc {
      padding: 10px 0 13px 0;
    }
  }

  .detail-board {
    text-align: left;
    .conditions {
      display: flex;
      align-items: center;
      &>div { 
        display: inline-block;
      }
      .icno-wrap img {
        vertical-align: middle;
      }
      .current_temp {
        height: 80px;
        font-size: 60px;
      }
      .temp_unit, .temp_range {
        height: 60px;
        div {
          height: 30px;
          line-height: 30px;
          font-size: 20px;
          width: 100%;
          text-align: center;
          font-weight: lighter;
        }
      }

      .temp_range {
        margin-left: 50px;
        div {
          font-size: 16px;
        }
      }
      .more {
        font-size: 12px;
        margin-left: 100px;
        div {
          margin: 5px 0;
        }
      }
    }
    .desc-day {
      &>div {
        display: inline-block;
      }
      font-size: 20px;
      margin-bottom: 20px;
      .dayTime {
        &::before {
          content: "·";
          margin: 0 6px;
        }
      }
    }
  }
}