.music {
  width: calc(100% - 200px);
  margin: 50px auto;
  box-shadow:.3em .3em 1em lightgray;
  border-radius: 5px;
  overflow: hidden;
  .body {
    position: relative;
    padding-bottom: 70px;
    .content {
      background: #fff;
      height: 77vh;
      overflow-y: scroll;
      .list {
        &-wrap {
          &:nth-of-type(2n) {
            background: #f6f6f6;
          }
        }
        &-songs {
          display: grid;
          grid-template-columns: 1fr 4fr 2fr 4fr 1fr;
          text-align: left;
          padding: 4px 16px;
          height: 32px;
          &:hover {
            background: lightgray;
          }
          div {
            height: 32px;
            line-height: 32px;
            display: inline-block;
            margin: 0 16px;
          }

          .song {
            &__name,
            &__artist,
            &__album {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              vertical-align: bottom;
            }
          }
        }
      }
    }
  }
}